body, html {
    width: 100%;
    /*white-space: pre;*/
}

.main{
    display:flex;
    flex-direction:row;
}
.media{
    flex:1;
}
.completo{
    flex:2;
}
.guardados span{
    padding:3px 0;
    display: inline-block;
}
.guardados span~span{
    margin-left: 40px;
}
.guardados span button{
    background-color:white;
    color:darkgreen;
    border-color:darkgreen;
    margin:3px 1px;
}
.guardados span button:nth-child(2){
    background-color:pink;
    color:darkred;
    border-color:darkred;
}
.luces{
    background-color:black;
    padding:20px 10px;
}
.luces span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid rgba(88,88,88,0.5);
    border-radius: 10px;
    box-shadow: 0 0 12px;
}
.luces span~span{
    margin-left: 5px;
}
.main{
    border:1px solid gray;
    padding:15px 0 15px 30px;
}
.seccion{
    margin-top:20px;
    border:1px solid gray;
    padding:5px 1px;
}
button.agregar-previo{
    background-color:lightgreen;
    color:darkgreen;
    border: 1px solid darkgreen;
    cursor:pointer;
}
button.delete-bloque{
    background-color:pink;
    color:red;
    border: 1px solid red;
    cursor:pointer;
}